Django==1.6.8
Pillow==2.6.1
South==1.0.1
Unidecode==0.04.16
argparse==1.2.1
boto==2.34.0
cmsplugin-filer==0.10
cmsplugin-nivoslider==0.5.4
cssselect==0.9.1
dj-database-url==0.3.0
django-appconf==0.6
django-autoslug==1.7.2
django-autoslug-field==0.2.3
django-classy-tags==0.5.1
django-cms==3.0.6
django-cms-named-menus==0.1.9
django-compressor==1.4
django-filer==0.9.8
django-meta==0.2.0
django-meta-mixin==0.1.1
django-mptt==0.6.1
django-overextends==0.3.2
django-picklefield==0.3.1
django-polymorphic==0.6
django-reversion==1.8.5
django-sekizai==0.7
django-storages==1.1.8
django-widget-tweaks==1.3
djangocms-admin-style==0.2.3
djangocms-column==1.5
djangocms-css-background==1.0.4
djangocms-file==0.1
djangocms-flash==0.1
djangocms-googlemap==0.2
djangocms-grid==1.1
djangocms-inherit==0.1
djangocms-installer==0.5.4
djangocms-link==1.5
djangocms-oembed==0.5
djangocms-page-meta==0.4.1
djangocms-picture==0.1
djangocms-placeholder-attr==1.0.3
djangocms-snippet==1.3
djangocms-style==1.4
djangocms-table==1.2
djangocms-teaser==0.1
djangocms-text-ckeditor==2.4.1
djangocms-video==0.1
easy-thumbnails==2.2
html5lib==0.999
jsonfield==1.0.0
lxml==3.4.0
micawber==0.3.1
psycopg2==2.5.4
pyquery==1.2.9
pytz==2014.9
six==1.8.0
sphinx-me==0.3
wsgiref==0.1.2
